
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Intro</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>
<body style="background-image:url('../static/bg/bg_alter_3.jpg'); background-size:100% 660px;">
<script src="../layui/layui.js"></script>
{#<div style="background:#FFFFFF; margin:135px 210px; height:400px; width: 900px;">#}
<div style="position:absolute; top:125px; left:250px; height:400px; width: 400px;">
{#<p style="font-family: 微软雅黑; font-size: 26px; text-indent: 2em;">#}
{#学生宿舍一直是各校盗窃事件高发地，现在宿舍楼安全防范措施大多采用人工管理的方式，具有响应滞后、容易漏检等问题。同时目前市面上没有成熟的面向监控视频流的智能检测识别产品可以直接使用。因此本课题集合行人检测跟踪、行人特征提取、行人再识别与步态识别四大模块提出设计了一套宿舍大楼可疑人员再识别定位跟踪系统并经过公开和个人数据集验证，同时在网页端设计了友好的用#}
{#</p>#}
{##}
{#</div>#}
{#<div style=" position:absolute; top:125px; left:730px; width: 400px; height:400px;">#}
{#<p style="font-family: 微软雅黑; font-size: 26px;">#}
{#户交互界面，实现了用户登录认证、全景监控与人物目标检测识别、人员记录条件查询、人员行踪电子地图查看的功能。本系统对传统人工管理方式的局限性进行了有效的弥补，可向宿舍监管人员预警可疑人员并进行定位跟踪，还可应用于游乐场寻人、商场顾客路线跟踪等多个场景，具有广泛的应用范围和良好的发展前景，值得继续深入研究。#}
{#</p>#}
</div>
{#    <div style="display:inline; background:#33DF83; margin:0px 500px; height:400px; width: 400px;">#}
{##}
{#    </div>#}

</div>
</body>
</html>