<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
      <link rel="stylesheet" href="../static/layuiadmin/layui/css/layui.css" media="all">
      <link rel="stylesheet" href="../static/layuiadmin/style/admin.css" media="all">
</head>

<body>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
  <legend>个人中心</legend>
</fieldset>

    <header>
        <div id="username">
                <h2>Admin</h2>
                <img src="photo.png">
        </div>
    </header>

    <main>
    <div class="layui-col-md6">
      <div class="layui-card">
          <h2 class="layui-btn layui-btn-fluid">个人信息</h2>
        <div class="layui-card-body">
            <div id="motto">
                <h3>工作名言</h3>
                <p>垃圾管理，人人有责。</p>
            </div>
            <div id="infor">
                <h3>管理楼栋</h3>
                <p>1号居民楼</p>
                <p>3号居民楼</p>
            </div>
        </div>
      </div>
    </div>

    <div class="layui-col-md6">
      <div class="layui-card">
          <h2 class="layui-btn layui-btn-fluid">已处理垃圾</h2>

        <div class="layui-card-body">
           <ul id="trash">
                <li><p>id</p><img src="20220510.png"></li>
                <li><p>id</p><img src="20220510.png"></li>
                <li><p>id</p><img src="20220510.png"></li>
                <li><p>id</p><img src="20220510.png"></li>
                <li><p>id</p><img src="20220510.png"></li>
            </ul>
        </div>
      </div>
    </div>
    </main>

    <footer>
        <h3>管理员须知</h3>
        <ul id="note">
            <li><p>今日垃圾，今日毕。</p></li>
            <li><p>不要让今天的垃圾，成为明天的垃圾。</p></li>
            <li><p>心灵之美，从垃圾管理开始。</p></li>
        </ul>
    </footer>
</body>
</html>