<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
</head>

<body>
    <nav>
        <ul id="first">
            <li><a href="../index.html">首页</a></li>
            <li><a href="#">视频</a></li>
            <li><a href="#">图片</a></li>
        </ul>
    </nav>

    <header>
        <div id="username">
                <h2>Admin</h2>
                <img src="photo.png">
        </div>
    </header>

    <main>
        <section>
            <h2>个人信息</h2>
            <div id="motto">
                <h3>工作名言</h3>
                <p>垃圾管理，人人有责。</p>
            </div>
            <div id="infor">
                <h3>管理楼栋</h3>
                <p>1号居民楼</p>
                <p>3号居民楼</p>
            </div>
        </section>

        <section>
            <h2>已处理垃圾</h2>
            <ul id="trash">
                <li><p>id</p><img src="20220510.png"></li>
                <li><p>id</p><img src="20220510.png"></li>
                <li><p>id</p><img src="20220510.png"></li>
                <li><p>id</p><img src="20220510.png"></li>
                <li><p>id</p><img src="20220510.png"></li>
            </ul>
        </section>
    </main>

    <footer>
        <h3>管理员须知</h3>
        <ul id="note">
            <li><p>今日垃圾，今日毕。</p></li>
            <li><p>不要让今天的垃圾，成为明天的垃圾。</p></li>
            <li><p>心灵之美，从垃圾管理开始。</p></li>
        </ul>
    </footer>
</body>
</html>